@import url('https://fonts.cdnfonts.com/css/swis721-bt');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Swis721 BT', sans-serif;
    color: var(--textcolor);
}
body{
    background: #FAFAFA;
}
html{
    scroll-behavior: smooth;
}
:root{
    --textcolor: #fff;
    --maincolor: #354a9a;
}
#header{
    display: flex;
    top: 25px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 140px;
    position: fixed;
    z-index: 5;
    background: transparent;
   
}
nav{
    display: flex;
    margin-right: 40px;
}
section{
    min-height: 100vh;
}
#white-circle img{
    max-height: 70px;

}
nav{
    display: flex;
  
}
#nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 39px;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid transparent;
    
}
#white-circle{
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
    align-items: center;
    margin-left: 43px;
}
#about-home{
    height: 320vh;
    background: #F5F5F5;
}
#about-back{
    height: 13%;
    background: url('/images/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#about-back h1{
    text-align: center;
    padding-top: 13.7%;
    font-size: 60px;
    backdrop-filter: brightness(0.6);
    height: 100%;
}
#about-home h2{
        text-align: center;
        padding-top: 5%;
        font-size: 55px;
        color: black;
    
}
#about-home a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    background: white;
    padding: 20px 30px;
    border-radius: 5px;
    transition: .5s;
}
#about-home a:hover{
    background: #354a9a;
    color: #fff;
}
#opt{
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
#portforlio-opt{
    padding: 80px 170px;
}
#opt-container{
    height: 580px;
    background: #fff;
    width: 370px;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
#opt-container:hover #pop-up{
    margin-top: -40px;
    width: 170px;
    transform: scale(1);
    opacity: 1;
}
#opt-container:hover #opt-box h4{
    transform: scale(1.2);
}
#opt-box{
    background: rgb(175, 175, 175);
    border-radius: 10px;
    height: 83%;

}
#opt-box h4{
    font-size: 55px;
    font-weight: 100;
    text-align: center;
    padding-top: 50%;
    color: black;
    transition: .5s;
}
#opt-container h1{
    color: black;
    margin-top: 0px;
    padding-left: 30px;
   padding-top: 20px;
}

#opt-container h3{
    color: #354a9a;
    margin-top: 0px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 100;
    padding-left: 30px;
}
#pop-up{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 15px 0px;
    width: 170px;
    margin-left: 7%;
    border-radius: 5px;
    margin-top: 0px;
    opacity: 0;
    transform: scale(o);
    transition: .5s;
}
#pop-up img{
    width: 10%;
    height: 10%;
    margin-left: 10px;
    background: #354a9a;
    border-radius: 50%;
}
#pop-up h2{
    font-size: 15px;
    
}
footer{
    min-height: 55vh;
    background-color: black;
    padding: 0px 160px;
    display: flex;

    overflow: hidden;
}
#comp1{
    
    height: 55vh;
    width: 400px;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#comp1 img{
    margin-top: 30px;
    width: 100%;
    height: 200px;
    
   
}
#medias{
    display: flex;

}
#social{
    background: #383838;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 20px;
    transition: .5s;
    border: none;
}
#social:hover{
    background: #354a9a;
}
#comp1 h2{
    margin-top: 30px;
    font-weight: 200;
    font-size: 17px;
}
#comp2{
   
    height: 55vh;
    width: 400px;
    position: relative;
    justify-content: left;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 150px;
    
}
#comp2 h3{
    font-size: 25px;
    margin-bottom: 50px;
}
#comp2 a{
    font-size: 18px;
    margin-top: 15px;
}
#comp2 #links{
    justify-content: left;
    display: flex;
    flex-direction: column;
}
#comp3{
   
    height: 55vh;
    width: 400px;
    position: relative;
    justify-content: left;
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}
#comp3 h3{
    font-size: 25px;
    margin-bottom: 50px;
}
#info{
    font-size: 25px;
   
}
#info h2{
    font-size: 18px;
    margin-top: 35px;
    font-weight: 300;
    color: #fff;
}
#info i{
    color: #354a9a;
}
footer #top{
    position: absolute;
    width: 50px;
    color: black;
    font-size: 25px;
    line-height: 48px;
    border-radius: 5px;
   padding-top: 0%;
   margin-top: 20%;
   margin-left: 83%;
   text-align: center;
   background-color: #354a9a;
}